<h3 class="ui header">{{t "forms.i-i-s-book-club-спикер-e.caption"}}{{#if readonly}} ({{t "forms.edit-form.readonly"}}){{/if}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    {{flexberry-edit-panel
      showCloseButton=true
      deepMount=true
      readonly=readonly
      buttons=(array
        (hash
          type="submit"
          class="save-button"
          disabled=(readonly)
          text=(t "forms.edit-form.save-button-text")
          icon="icon icon-save"
          action="save")
        (hash
          type="submit"
          class="save-close-button"
          disabled=(readonly)
          text=(t "forms.edit-form.saveAndClose-button-text")
          icon="icon icon-save-close"
          action="saveAndClose"
        ))
    }}
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фамилия
      class=(if (v-get validationModel "фамилия" "isInvalid") "error")
      label=(t "forms.i-i-s-book-club-спикер-e.фамилия-caption")
      data-test-i-i-s-book-club-спикер-e-фамилия=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фамилия" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имя
      class=(if (v-get validationModel "имя" "isInvalid") "error")
      label=(t "forms.i-i-s-book-club-спикер-e.имя-caption")
      data-test-i-i-s-book-club-спикер-e-имя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "имя" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.отчество
      class=(if (v-get validationModel "отчество" "isInvalid") "error")
      label=(t "forms.i-i-s-book-club-спикер-e.отчество-caption")
      data-test-i-i-s-book-club-спикер-e-отчество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "отчество" "message")}}
  </div>
</form>
